<section class="hero is-dark is-fullheight is-justify-content-flex-start">
    <div class="box m-5">
        <h2 class="subtitle has-text-dark"><b>Edit Post</b></h2>
        <form>
            <input class="input mb-5" name="post-title" type="text" value="{{post.title}}">
            <textarea class="input mb-5" name="post-content" type="text" value="{{post.post_text}}"></textarea>
            <button class="button is-normal is-responsive is-info" id="edit-post">Save Edit</button>
        </form>
    </div>
</section>

<script src="/js/edit-post.js"></script>